<section class="home">
    <div class="home__content">
        <div class="home__text">
            <span class="home__title">
                Добро пожаловать!
            </span>
            <h3>Попробуйте великолепный вкус</h3>
            <p>Все блюда приготовлены только из свежих продуктов. Оцените по достоинству наши изысканные блюда, тщательно созданные для Вас нашими лучшими поварами</p>
            <div class="form-group">
                <button class="form-control btn btn--green">Заказать</button>
            </div>
        </div>

        <div class="home__photo">
                <img [src]='environmentUrl + "/static/uploads/main/home-img.png"' class="home__img">
        </div>
    </div>
</section>