h1{
    text-align: center;
    margin: 20px 0;
}
.category {
    display: grid;
    /* подогнать под размер дива и на 1 фракцию до 200 пикселей, иначе перенос на 
    другую строку */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding-bottom: 20px;
  }
  
  .category .category__box {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background: #f7f7f7;
  }
  .category .category__box a {
    text-decoration: none;
  }
  .category .category__box h4 {
      text-transform: uppercase;
      color: #666;
  }
  .category .category__box:hover {
    background: #27ae60;
  }
  
  .category .category__box:hover h4 {
    color: #fff;
  }
  