.home {
    text-align: center;
      }
.home .home__category{
display: flex;
gap: 10px;
flex-wrap: wrap;
padding-top: 20px;
}

.home .home__category .category__box{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 10px;
    /* для адаптивного растягивания */
    flex: 1 1 45px;
  }

  .home .home__category .category__box  img{
    width: 200px;
    margin: 10px 0;
  }

  .home__category .category__box h3{
    font-size: 20px;
    padding-top: 10px;
    color:var(--black);
  }
  
  .home__category .category__box p{
    font-size: 20px;
    font-weight: 400;
    color:#666;
    padding: 20px 0;
  }
  
  .category__box .category__btn{
    display: block;
  }
  