.shipping-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form__line {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .form__line input[type="text"] {
      width: 60%;
      margin-right: 20px;
  }
  .form__line label {
      width: 40%;
  }
  .shipping-form__valid-space {
      height: 16px;
      padding: 0;
      margin: 0;
  }
.shipping-form__btn {
    margin-top:20px;
    margin-right: 20px;
}
.form__line div {
    padding-right: 10px;
}
.shipping-form__empty-label{
    height: 16px;
    padding: 0;
    margin: 0;
}