<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Наша компания</h4>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Наши услуги</a></li>
                    <li><a href="#">Наши товары</a></li>
                    <li><a href="#">Скидки</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Помощь</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Отправка заказа</a></li>
                    <li><a href="#">Возврат товара</a></li>
                    <li><a href="#">Статус заказа</a></li>
                    <li><a href="#">Как оплатить</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Онлайн магазин</h4>
                <ul>
                    <li><a href="#">Продукты</a></li>
                    <li><a href="#">Овощи</a></li>
                    <li><a href="#">Фрукты</a></li>
                    <li><a href="#">Выпечка</a></li>
                    <li><a href="#">Приправы и специи</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Социальные сети</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>