body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;
    background-color: #fff;
    -webkit-font-smoothing: antialised;
}

*,
*:before,
*:after {
    /* размер блока без учета паддингов */
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

p {
    /* сверху - справа - снизу - слева */
    margin: 0 0 10px;
}

/* Container */
/*=========================*/
.container {
    width: 100%;
    /* ограничение сетки */
    max-width: 1200px;
    /*1178 пикселей посередине */
    margin: 0 auto;
    /* чтобы фото если есть не прилегали по краям при изменении экрана */
    padding: 0 15px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.btn {
    /* для задания паддингов, размеров, выравнивание */
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 2px;
    border: none;
    transition: background-color 0.2s linear;
}

.btn--large {
    /* для задания паддингов, размеров, выравнивание */
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 2px;
    border: none;
    transition: background-color 0.2s linear;
}

.btn--small {
    /* для задания паддингов, размеров, выравнивание */
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        font-weight: 900;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2px 8px;
        min-width: 30px;
        border-radius: 1px;
        border: none;
        transition: background-color .2s linear;
}
.btn--middle {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 8px;
    min-width: 30px;
    border-radius: 1px;
    border: none;
    transition: background-color .2s linear;
}

/* модификатор */
.btn--red {
    background-color: #e84545;
}
.btn--green {
    background-color: #27ae60;
}

.btn--green:hover {
    background-color: #037e36;
}
.btn--red:hover {
    background-color: #dd3434;
}

.btn--green:disabled {
    background-color: #27ae60;
}
.btn--red:disabled {
    background-color: #e84545;
}